<h1>Interpolation Binding </h1>
<p>1. Welcome {{name}}</p>
<h3>2. angular  evaluates the expression and displays the result</h3>
<p>the addition of 2+2 is {{2+2}}</p>  
<h3>3. string concatenation in interpolation</h3>
<p>{{"Welcome " + name}}</p>
<h3>4. use javascripts properties and methods within curley braces</h3>
<p>length of the name is: {{name.length}}</p>
<p>name converted to uppercase: {{name.toUpperCase()}}</p>
<h3>5. call methods defined in the component class</h3>
<p>{{Welcome()}}</p>